.colShop1{
    padding-left: 20px !important;
    padding-right: 10px !important;
}

.colShop2{
    padding-left: 10px !important;
    padding-right: 20px !important;
   
}

.RowShop{
    background-color: rgb(205, 201, 193);
    min-height: 100vh;
    padding-bottom: 20px !important;
    
}