@font-face {
    font-family: fuente2;
    src: url(../Menu/fuente/Bureau\ Grot\ Bold.otf);

  }

 @font-face {
    font-family: per;
    src: url(../Menu/fuente/HelveticaNeue.ttc);

  }

.menu{
    margin: 20px 0 40px 20px!important;
    font-size:12px ;
    font-family:per !important;  
    padding: 0% !important;
    width: 98%;
    background-color: transparent !important;
    z-index: 1;
    top: 0;
    position: fixed;
}


.nombre{
    padding: 0%  !important;
    margin-right: 2px !important;
    width: 170px;
    text-align: left;
    color: black;
}

.nombre:hover{
    text-decoration: underline;
    color: black;
}

.menu:hover >a {text-decoration: underline;}

.signo{
    padding: 0 !important;
    margin-left: auto;
    margin-right: 20px;
}

.imgSigno{
    display: block; 
    margin-left: auto;
    width: 25px;
}

.activo{
    text-decoration: underline;
}


.activoPregunta{
   color: white;
   
}

.Pregunta a{
   color: white;

}

.filtro{
    width: 240px;
}

#filtro1{
    margin-right: 2%;
    text-decoration: none !important;
}

.filtroOpcion{
    text-decoration: underline;
}

.filtroAtras{
    margin-left: 4%;
}

.filtroAtras:hover{
    text-decoration: underline;
    cursor: pointer;
}

  
@media (max-width:700px){
    .nombre {
        padding: 0% !important;
        margin-right: 4.2% !important;
        width: auto;
        text-align: left;
        color: black;
    }

    .imgSigno{
        display: block; 
        margin-left: auto;
        margin-right: 10px;
        width: 25px;
    }
    
}




@media (min-width:500px){
    .nombre {
        padding: 0% !important;
        margin-right: 12% !important;
        width: auto;
        text-align: left;
        color: black;
    }
}